@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #4E6530 #20331B;
  }
  *::-webkit-scrollbar {
    width: 6px;
  }
  *::-webkit-scrollbar-track {
    background: #20331B;
  }
  *::-webkit-scrollbar-thumb {
    background: #4E6530;
    border-radius: 8px;
  }
}

@keyframes pulse-green {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
}

.animate-pulse-green {
  animation: pulse-green 2s ease-in-out infinite;
}